.diagram {
  display: none;
  width: 80%;
  margin: 0 auto;
  height: 40vh;
  transition: all 2s ease-in-out;
}

.axis {
  stroke-width: 5px;
  stroke: white;
}

text {
  font-size: 1.5em;
  fill: white;
  text-anchor: middle;
}

.axis-val {
  font-style: italic;
}

polyline {
  stroke: #f39c12;
  stroke-width: 10px;
  fill: transparent;
}

#container .active{
  display: block;
}
#container{
  padding-bottom: 2em;
  display: block;
}
#container {
  padding-top: 90px;
  width: 100%;
  overflow-x: hidden;
}
#container canvas {
  border-radius: 10px;
  box-shadow: 2px 7px 32px -2px rgba(0,0,0,0.75);
}