body, h1 {
  padding: 0;
  margin: 0;
  font-family: arial;
}

header {
  height: 3.5em;
  padding: 1em 2em 0;
}


.diagram {
  width: 100%;
  height: 450px;
  background: #16a085;
}

.chart.active {
  display: block;
}

figure {
  display: block;
  margin: 30px;
}

.chart {
  margin: auto;
  width: 300px;
  height: 300px;
  display: none;
  border-radius: 10px;
}

.axis {
  stroke-width: 5px;
  stroke: white;
}

text {
  font-size: 1.5em;
  fill: white;
  text-anchor: middle;
}

.axis-val {
  font-style: italic;
}

polyline {
  stroke: #f39c12;
  stroke-width: 10px;
  fill: transparent;
}

.switcher {
  float: right;
  border-style: dotted;
  padding: .5em;
  margin-right: 30px;
  cursor: pointer;
  transition: all .1s ease-in-out;
  font-size: .5em;
}

.switcher:hover {
  transform: scale(1.1);
  background-color: rgba(1, 1, 1, .1);
}

#dd {
  font-size: 2em;
  padding: .5em 0em 0em 10px;
  color: white;
}

#dd-value {
  display: inline-block;
  padding: .2em 20px;
  border-radius: 10px;
  cursor: pointer;
  pointer-events: all;
}

#dd-value.active {
  box-shadow: 5px 5px 40px 5px rgba(0, 0, 0, 0.1);
}

#dd ul.active {
  visibility: visible;
  transform: translateY(25px) rotateX(0deg);
  pointer-events: all;
}

#dd ul {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  visibility: hidden;
  background: white;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-80px) rotateX(90deg);
  width: 300px;
}

#dd ul::before {
  content: '';
  width: 0px;
  height: 0px;
  top: -40px;
  left: 40px;
  position: absolute;
  border: 20px solid transparent;
  border-bottom: 20px solid #fff;
}

#dd li {
  background: #16a085;
  padding: .5em 1em;
  margin: 2px;
  cursor: pointer;
}

.dd-select {
  display: none;
}

h2 {
  font-style: italic;
  margin-left: 1em;
}

#last-time {
  font-style: normal;
  font-weight: 100;
}

article {
  color: grey;
}

article>h3 {
  margin-left: 1em;
  padding: 2px;
  border-bottom: 2px #444 solid;
  font-size: 1em;
}

svg {
  width: 20px;
  height: 20px;
}

#pressure svg {
  fill: #2c3e50;
}

#temperature svg {
  fill: #e74c3c;
}

#light svg {
  fill: #f1c40f;
}

#gamma svg {
  fill: #95a5a6;
}

#humidity svg {
  fill: #3498db;
}

#windd svg {
  fill: black;
}

#windv svg {
  fill: black;
}

article > div {
  text-align: right;
  font-size: 2em;
  margin-right: 1em;
}

@media screen and (min-width: 350px) {
  body{
    font-size: 8px;
  }
  header{
    color: white;
    background: #38454b;
  }
  #dd {
    padding: 0;
    width: 150px;
  }
  #dd ul {
    width: 100%;
    height: calc(100vh - 2em);
    min-height: 15em;
    position: relative;
    visibility: visible;
    transform: translateY(0) rotate(0);
    background: #38454b;
  }
  #dd li {
    background: #38454b;
    margin: 0;
  }
  #dd ul::before {
    content: none;
  }
  #dd .dd-select {
    background: #465155;
    border-left: .2em solid #72c5c0;
    display: block;
  }
  .dd-select::after {
    content: '';
    width: 0px;
    height: 0px;
    float: right;
    border: .6em solid transparent;
    border-right: .6em solid #fafafa;
    transform: translateX(1.05em);
  }
  #dd-value {
    display: none;
  }
  .diagram {
    position: relative;
    background: #fafafa;
    height: auto;
    box-shadow: 0px 1px 40px 5px rgba(0, 0, 0, 0.1);
  }
  .switcher {
    position: absolute;
    top: 1em;
    right: 1em;
    margin: 0;
    z-index: 1;
    background: #eee;
  }
  .chart {
    width: 100%;
    height: 100%;
  }
  figure {
    width: calc(100% - 150px);
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    margin: 0;
    
  }
  h2 {
    margin: 0;
    padding: 1em;
    text-align: center;
    font-size: 5em;
  }
  #last-time {
    font-style: normal;
    font-weight: 100;
    font-size: .5em;
  }
  article {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 40%;
    margin: 4%;
    color: black;
  }
  article>h3 {
    padding: 4em 0 0em;
    margin: 0;
    border: none;
    font-size: 2em;
  }
  article > div {
    text-align: center;
    margin: .5em 0;
  }
  .latest-data svg {
    position: absolute;
    width: 3em;
    height: 3em;
    top: 0;
    left: calc(50% - 1.5em);
  }
  
  .latest-data {
    width: 80%;
    margin: 3em auto;
  }
  
}
@media screen and (min-width: 750px) {
  .latest-data {
    min-width: 750px;
  }
  article {
    width: 20%;
    margin: 2.3%;
  }
}