body {
  padding: 0;
  margin: 0;
  font-family: arial;
}

header {
  height: 60vh;
  background: #1abc9c;
  color: white;
}

#dd{
  position: absolute;
  font-size: 2em;
  padding: .5em 0em 0em 1em;
  width: 300px;
  pointer-events: none;
}

#dd-value {
  display: inline-block;
  padding: .2em 1em;
  border-radius: 10px;
  cursor: pointer;
  pointer-events: all;
}

#dd-value.active{
  box-shadow: 5px 5px 40px 5px rgba(0,0,0,0.1);
}
#dd ul.active{
  visibility: visible;
  transform: translateY(20px) rotateX(0deg);
  pointer-events: all;
}
#dd ul{
  transform: translateY(20px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  visibility: hidden;
  background: white;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-80px) rotateX(90deg);
  
}

#dd ul::before {
  content: '';
  width: 0px;
  height: 0px;
  top: -40px;
  left: 40px;
  position: absolute;
  border: 20px solid transparent;
  border-bottom: 20px solid #fff;
}
#dd li {
  background: #16a085;
  padding: .5em 1em;
  margin: 2px;
}

.dd-select{
  display: none;
}

h1 {
  font-style: italic;
  margin-left: .2em;
}
#last-time {
  font-style: normal;
  font-weight: 100;
}

article {
  color: grey;
}

article>h2{
  margin-left: 1em;
  padding: 2px;
  border-bottom: 2px #444 solid;
  font-size: 1em;
}

svg {
  width: 20px;
  height: 20px;
}
#pressure svg {
  fill: #2c3e50;
}

#temperature svg {
  fill: #e74c3c;
}

#light svg {
  fill: #f1c40f;
}

#gamma svg {
  fill: #95a5a6;
}

#humidity svg {
  fill: #3498db;
}

#windd svg {
  fill: black;
}

#windv svg {
  fill: black;
}

article > div {
  text-align: right;
  font-size: 2em;
  margin-right: 1em;
}

.switcher {
  position: absolute;
  border-style: dotted;
  padding: .5em;
  cursor: pointer;
  right:20px;
  top: 20px;
  transition: all .1s ease-in-out;
}
.switcher:hover {
  transform: scale(1.1);
  background-color: rgba(1,1,1,.1);
}
